


<form >
    <div class="form-group mb-3">
        <label  class="control-label">Email</label>
        <input type="email"
               class="form-control"
               placeholder="Enter your email to verify"
               id="email"/>
    </div>

    <button type="button" class="btn btn-primary w-100 submit-btn">
        Verify
    </button>
</form>
