
.loader {
    position: absolute;
    /* Move the top-left corner to the dead center of the parent */
    top: 50%;
    left: 50%;
    /* Shift the item back by 50% of its OWN width/height for true centering */
    transform: translate(-50%, -50%);
}
/* Container with fixed height and vertical scroll */
.table-container {
    max-height: 500px; /* Adjust as needed */
    overflow-y: auto;
    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE & Edge */
}

    .table-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }


/* Sticky table header */
.sticky-header tr th {
    position: sticky;
    top: 0;
    background-color: #212529; /* match Bootstrap dark header */
    color: #fff;
    z-index: 5;
}

