
@{
    ViewData["Title"] = "Home Page";
}
@* Home container  *@
<div class="container">

    
    <div class="container">

        <div class="text-center">
            <h1 class="display-4">Welcome To Task Management System</h1>
        </div>
            <div class="container" id="task-item">

            </div>
            
        
        
    </div>
</div>

@section Scripts {
    <script src="~/js/taskCard.js" asp-append-version="true"></script>
    }