
@{
    ViewData["Title"] = "Home Page";
}
@* Home container  *@
<div class="container">

    
    <div class="container">

        <div class="text-center">
            <h1 class="display-4">Welcome To Task Management System</h1>
        </div>
            <div class="container" id="task-item">

            </div>
            
        
        
    </div>
</div>

@section Scripts {
    <script src="~/js/taskCard.js" asp-append-version="true"></script>
    @if (TempData["Update"] != null)
    {
        <script>
                        Swal.fire({
                icon: 'success',
                title: 'Updated!',
                text: '@TempData["Update"]',
                timer: 1500,
                showConfirmButton: false // Hides the default "OK" butto
            });
        </script>
    }
    @if (TempData["Create"] != null)
    {
        <script>
                        Swal.fire({
                icon: 'success',
                title: 'Created!',
                text: '@TempData["Create"]',
                timer: 1500,
                showConfirmButton: false // Hides the default "OK" butto
            });
        </script>
    }
    @if (TempData["Delete"] != null)
    {
        <script>
                        Swal.fire({
                icon: 'success',
                title: 'Deleted!',
                text: '@TempData["Delete"]',
                timer: 1500,
                showConfirmButton: false // Hides the default "OK" butto
            });
        </script>
    }
    }