
@{
    ViewData["Title"] = "Home Page";
}
@* Home container  *@
<div class="container">

    
    <div class="container">

        <div class="text-center">
            <h1 class="display-4">Welcome To Task Management System</h1>
        </div>
            <div class="container" id="task-item">

            </div>
            
        
        
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com"></script>
    <script>
        $(document).ready(function () {
            // Call the GetItems action method using AJAX
            $.ajax({
                url: '@Url.Action("GetAllTasks", "Home")', // URL to the GET method
                type: 'GET',
                success: function (data) {
                    // On success, insert the returned HTML (partial view content) into the container
                    $('#task-item').html(data);
                },
                error: function () {
                    alert('Error loading items.');
                }
            });
        });
    </script>
    }