@model TaskManagement.Application.DTOs.TaskTableDTO;
@{
    ViewData["Title"] = "Updating Task";
}

<div class="w-100 card border-0 p-4 ">
    <div class="card-header bg-success py-3 bg-gradient">
        <div class="row">
            <div class="col text-center">
                <h4 class="text-white mb-0">Update Task</h4>
            </div>
        </div>
    </div>

    @* Body for creating task  *@
    <div class="card-body border p-4">
        <form method="post">
            <div class="row ">

                <div class="form-group mb-3 col-md-6">
                    <label class="control-label" asp-for="Title"></label>
                    <input type="text"
                           class="form-control"
                           asp-for="Title"
                           placeholder="Title" />
                </div>
                <div class="form-group mb-3 col-md-6">
                    <label class="control-label" asp-for="priority"></label>
                    <select class="form-select" asp-for="priority">
                        <option selected>Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
                <div class="form-group mb-3 col-md-6">
                    <label class="control-label" asp-for="StartDate"></label>
                    <input type="date"
                           class="form-control"
                           asp-for="StartDate"
                           placeholder="First Name" />
                </div>
                <div class="form-group mb-3 col-md-6">
                    <label class="control-label" asp-for="DueDate"></label>
                    <input type="date"
                           asp-for="DueDate"
                           class="form-control"
                           placeholder="First Name" />
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="floatingTextarea2" asp-for="Description"></label>
                <textarea class="form-control" placeholder="Write Project Description Here" id="floatingTextarea2" style="height: 100px" asp-for="Description"></textarea>
            </div>
            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-success w-100">
                        <i class="bi bi-check-circle"></i> Update Taske
                    </button>
                </div>
                <div class="col-6 col-md-3">
                    <button asp-controller="Home" asp-action="Index" class="btn btn-success w-100">
                        <i class="bi bi-x-circle"></i> Cancel
                    </button>
                </div>
            </div>
            @* <button type="submit" class="btn btn-primary" asp-action="UpdateTask">Update Taske</button> *@
        </form>
    </div>
</div>
@section Scripts {
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
                        Swal.fire({
                title: 'Error!',
                text: '@TempData["ErrorMessage"]',
                icon: '@TempData["AlertType"]',
                confirmButtonText: 'OK'
            });
        </script>
    }

}
