

@model TaskManagement.Application.DTOs.LoginUserDTO;
@{
    ViewData["Title"] = "Login";
}

<h1 class="text-success text-center">
    Task Management
</h1>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body loging-form">
                    <form asp-action="Login" method="post">

                        <div class="form-group mb-3 ">
                            <label asp-for="Email" class="control-label"></label>
                            <input type="email"
                                   asp-for="Email"
                                   class="form-control"
                                   placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3 position-relative">
                            <label asp-for="EnteredPassword" class="control-label"></label>
                            <input type="password"
                                   asp-for="EnteredPassword"
                                   class="form-control pe-5"
                                   placeholder="Password"
                                   id="passwordField" />
                            <span class="password-toggle" style="position:absolute; right:10px; top:72%; transform:translateY(-50%); cursor:pointer;">
                                <i id="passwordIcon" class="bi bi-eye"></i>
                            </span>
                            <span asp-validation-for="EnteredPassword" class="text-danger"></span>
                        </div>

                        <button class="btn btn-danger">
                            Login
                        </button>
                    </form>

                    <div class="mt-2">
                        <a type="button" class="btn btn-link text-decoration-none" asp-controller="Auth" asp-action="VerifyEmail">
                            Forgot Password?
                        </a>
                    </div>

                    <p class="mt-3">
                        Not registered?
                        <a asp-action="Register">
                            Create an
                            account
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @if (TempData["Error"] != null)
    {
        <script>
                        Swal.fire({
                icon: 'AlertType',
                title: 'Wrong Credential',
                text: '@TempData["Error"]',
                timer: 1500,
                showConfirmButton: false // Hides the default "OK" butto
            });
        </script>
    }
    <script>
        localStorage.removeItem('last-page');
        localStorage.removeItem('currentView');
        localStorage.removeItem('activeLink');
    
</script>
}