@model TaskManagement.Application.DTOs.ResetPasswordDTO;
@{
    ViewData["Title"] = "Login";
}

<h1 class="text-success text-center">
    Task Management
</h1>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body ">
                    <form asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="Email" id="user-email" />

                        <!-- New Password -->
                        <div class="form-group mb-3 position-relative ">
                            <label asp-for="NewPassword" class="mb-2"></label>
                            <input asp-for="NewPassword"
                                   type="password"
                                   class="form-control pe-5"
                                   placeholder="Enter password"
                                   id="newPassword" />
                            <span class="password-toggle" style="position:absolute; right:10px; top:72%; transform:translateY(-50%); cursor:pointer;">
                                <i id="newPasswordIcon" class="bi bi-eye"></i>
                            </span>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group mb-3 position-relative">
                            <label asp-for="ConfirmPassword" class="mb-2"></label>
                            <input asp-for="ConfirmPassword"
                                   type="password"
                                   class="form-control pe-5"
                                   placeholder="Enter password"
                                   id="confirmPassword" />
                            <span class="password-toggle" style="position:absolute; right:10px; top:72%; transform:translateY(-50%); cursor:pointer;">
                                <i id="confirmPasswordIcon" class="bi bi-eye"></i>
                            </span>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 reset-password-btn">
                            Reset Password
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
        @if (TempData["Success"] != null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["Success"]',
                icon: 'success',
                timer: 1500,
                confirmButtonText: 'OK'
            });
        </script>
    }
}